body {
  background-color:#82c8e5;

  }
p
{ font-size: 21px;
}

#c{
    text-align: center;
  font-size: 19px;
}
.btn {
  background-color: #e4f5ff;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 32px;
  margin: 4px 2px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #00a5ff;
  color: white;
}
iframe{ 
  margin: 0 auto; }
